//colors
$color-primary: #788d49;
$color-primary-red: #af2f2e;
$color-primary-pink: #d7b5b5;
$color-light-grey-1: rgba(252, 245, 238, 0.4);
$color-dark: rgba(12, 20, 6, 1);
$color-white: #fff;
$color-black: #0000;

$color-secondary-pink: #891125;
$color-secondary-green: #adbf8b;
$color-secondary-red: #d0584a;
$color-light-green: #ddffbc;

$color-dark-grey: #999;
$color-footer: #1e6f5c;

//font-sizes
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
